In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 : Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [4]:


n=4;
for i in range(4):
    for j in range(0,i+1):
        print("ineruon",end = "  ")
    print("\n")

ineruon

ineruon  ineruon

ineruon  ineruon  ineruon

ineruon  ineruon  ineruon  ineruon

In [ ]:
q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [12]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(40,' '))

                ineuron
            ineuron ineuron
        ineuron ineuron ineuron
            ineuron ineuron
                ineuron

In [13]:
# q3 : Try to extract all the list entity 
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [15]:
for i in l :
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [16]:
#  q4 : Try to extract all the dict enteties
for i in l :
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [17]:
# q5 : Try to extract all the tuples entities
for i in l :
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [24]:
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
l1=[]
for i in l :
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [25]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [26]:
# q7 : Try to give summation of all the numeric data 
sum(l1)

156

In [39]:
#  q8 : Try to filter out all the odd values out all numeric data which is a part of a list 

for i in l1:
    if i%2==1:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [40]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [46]:
# q9 : Try to extract "ineruon" out of this data
l1=[]
for i in l :
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j == "ineuron":
                l1.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if g == "ineuron":
                    l1.append(g)

In [47]:
l1

['ineuron', 'ineuron']

In [48]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [57]:
# q10 : Try to find out a number of occurances of all the data 
l4=[]
for i in l:
    if type(i)==tuple or type(i)==list or type(i)==set:
        for j in i:
            if type(j)==int or type(j)==str:
                l4.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k :
                if type(g)==int or type(g)==str:
                    l4.append(g)

                    
                    
for i in set(l4):
    print(i , ":" , l4.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
ineuron : 2
k2 : 1
8 : 1
45 : 1
sudh : 1
kumar : 1
k1 : 1
23 : 1
k3 : 1
data science  : 1

In [ ]:
q11 : Try to find out number of keys in dict element

In [58]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [68]:
l5=[]
for i in l:
    if type(i)==dict:
        print(len(i))
        #l5.append(i.keys())

5

In [70]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [79]:
# q12 : Try to filter out all the string data 
for i in l4:
    if type(i)==str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [80]:
# q13 : Try to Find  out alphanum in data
for i in l4:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

In [84]:
# q14 : Try to find out multiplication of all numeric value in the individual collection inside dataset
l6=[]
p=1
for i in l4:
    if type(i)== int:
        p=p*i
print(p)

908605071360000