In [1]:
# 1 . Try to reverse a list
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l.reverse()

In [2]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [5]:
# 2. try to access 234 out of this list 
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
l[7][0]

234

In [7]:
# 3 . try to access 456 
l[5][1]

456

In [8]:
# 4 . Try to extract only a list collection form list l 
for i in l:
    if type(i)==list:
        print(i)

[23, 456, 67, 8, 78, 78]
[345, 56, 87, 8, 98, 9]

In [9]:
# 5 . Try to extract "sudh"
l[8]["key1"]

'sudh'

In [10]:
# 6 . Try to list all the key in dict element avaible in list 
list(l[8].keys())

['key1', 234]

In [11]:
# 7 . Try to extract all the value element form dict available in list
list(l[8].values())

['sudh', [23, 45, 656]]